<html>

<head>
  <%- include('./../../partials/head.ejs') %>
</head>

<body>
  <%- include('./../../partials/header.ejs') %>
  <%- include('./../../partials/nav.ejs') %>
  <section class="box b1 container h-center">
    <%- include('./create/form.ejs') %>
    <%- include('./filter/form.ejs') %>
    <%- include('./filter/box.ejs') %>
    <%- include('./task/create/form.ejs') %>
    <%- include('./task/comment/create/form.ejs') %>
  </section>
</body>
<footer>
  <%- include('./../../partials/footer.ejs') %>
</footer>
<script src="/js/goal/main.js"></script>
<script src="/js/goal/task/main.js"></script>
<script src="/js/goal/task/timeline.js"></script>
<script src="/js/goal/task/comment.js"></script>
<script src="/js/user/main.js"></script>
<%- include('./create/script.ejs') %>
<%- include('./filter/script.ejs') %>
<%- include('./task/create/script.ejs') %>
<%- include('./task/filter/script.ejs') %>
<%- include('./task/timeline/filter/script.ejs') %>
<%- include('./task/comment/detail/script.ejs') %>
<%- include('./task/comment/create/script.ejs') %>

</html>