<html>

<head>
  <%- include('./../../../partials/head.ejs') %>
</head>

<body>
  <%- include('./../../../partials/header.ejs') %>
  <%- include('./../../../partials/nav.ejs') %>
  <section class="container h-center margin-bottom-50">
    <div class="box b1 container">
      <%- include('./create/form.ejs') %>
      <div class="box b2 container">
        <%- include('./filter/form.ejs') %>
        <%- include('./filter/box.ejs') %>
      </div>
    </div>
  </section>
</body>
<footer>
  <%- include('./../../../partials/footer.ejs') %>

  <script src="/js/financial/outcome/main.js"></script>
  <script src="/js/financial/outcome/origin/main.js"></script>
  <script src="/js/financial/outcome/origin/payment.js"></script>

  <%- include('./create/script.ejs') %>
  <%- include('./filter/script.ejs') %>
  <%- include('./detail/script.ejs') %>
</footer>

</html>