<html>

<head>
  <%- include('./../../../partials/head.ejs') %>
</head>

<body class="margin-bottom-50">
  <%- include('./../../../partials/header.ejs') %>
  <%- include('./../../../partials/nav.ejs') %>
  <section class="container h-center">
    <div class="box b2-3 container ground border radius-5 padding-10 margin-top-5">
      manage
    </div>
  </section>
  <%- include('./../../../partials/loader.ejs') %>
</body>
<footer>
  <%- include('./../../../partials/footer.ejs') %>
  <script src="/javascripts/scripts/product/model/main.js"></script>
</footer>

</html>