<html>

<head>
  <%- include('./../../../../partials/head.ejs') %>
</head>

<body>
  <%- include('./../../../../partials/logo.ejs') %>
  <section class="container h-center">
    <%- include('./detail/box.ejs') %>
  </section>
</body>
<footer>
  <%- include('./../../../../partials/footer.ejs') %>
  <script src="/javascripts/scripts/feedstock/model/main.js"></script>
  <script src="/javascripts/scripts/feedstock/model/purchase.js"></script>
  <script src="/javascripts/scripts/feedstock/model/supplier.js"></script>
  <%- include('./detail/script.ejs') %>
</footer>

<script>
  getOrders();
</script>

</html>