<html>

<head>
  <%- include('./../../../partials/head.ejs') %>
  <%- include('./../../../partials/header.ejs') %>
</head>

<body>
  <section class="container h-center">
    <%- include('./filter/form.ejs') %>
    <%- include('./filter/box.ejs') %>
    <%- include('./detail/box.ejs') %>
  </section>
  <%- include('./../../../partials/msg.ejs') %>
  <%- include('./../../../partials/loader.ejs') %>
</body>
<footer>
  <%- include('./../../../partials/footer.ejs') %>
  <script src="/javascripts/scripts/production/main.js"></script>
  <%- include('./filter/script.ejs') %>
  <%- include('./detail/script.ejs') %>
</footer>

</html>