<html>

<head>
  <%- include('./../../partials/head.ejs') %>
</head>

<body>
  <% if(user) { %>
  <%- include('./../../partials/header.ejs') %>
  <%- include('./../../partials/nav.ejs') %>
  <% } %>
  <section class="container h-center">
    <div class="box b2-3 underline bold em13 margin-top-20 center">Triagem de malotes</div>
    <div onclick="window.location.href = '/production/product/defect'"
      class="box b2-3 ground lucida-grande bold border-st shadow-lg-st padding-15 margin-top-5 radius-5 center pointer">
      Defeitos de costura
    </div>
    <div onclick="window.location.href = '/production/product/filigran_defect'"
      class="box b2-3 ground lucida-grande bold border-st shadow-lg-st padding-15 margin-top-5 radius-5 center pointer">
      Defeitos de filigrana
    </div>
  </section>
  <%- include('./../../partials/loader.ejs') %>
</body>
<footer>
  <%- include('./../../partials/footer.ejs') %>
  <script src="/javascripts/scripts/production/main.js"></script>
</footer>

</html>