<html>
<head>
  <%- include('./../../../partials/head.ejs') %>
</head>
<body>
  <%- include('./../../../partials/header.ejs') %>
  <%- include('./../../../partials/nav.ejs') %>
  <section class="container h-center">
  <%- include('./components/filter-form.ejs') %>

  <%- include('./components/filter-box.ejs') %>

    <div id="sale-show-box" class="box b1 container ground border padding-10 margin-top-10 margin-bottom-10" style="display:none;"></div>
  </section>
  <%- include('./../../../partials/loader.ejs') %>
</body>
<footer>
  <%- include('./../../../partials/footer.ejs') %>
  <script src="/javascripts/scripts/sale/model/main.js"></script>

  <script src="/javascripts/scripts/sale/controller/triage/nf.js"></script>
  <script src="/javascripts/scripts/sale/view/triage/nf.js"></script>
</footer>
</html>