<html>

<head>
  <%- include('./../../partials/head.ejs') %>
</head>

<body>
  <%- include('./../../partials/header.ejs') %>
  <%- include('./../../partials/nav.ejs') %>

  <div class="container h-center">
    <%- include('./filter/form.ejs') %>
  </div>

  <%- include('./../../partials/loader.ejs') %>
</body>
<footer>
  <%- include('./../../partials/footer.ejs') %>
  <script src="/javascripts/scripts/product/model/main.js"></script>
  <script src="/javascripts/scripts/user/model/main.js"></script>
  <script src="/js/financial/outcome/main.js"></script>
  <script src="/js/financial/outcome/origin/main.js"></script>
  <script src="/javascripts/scripts/production/main.js"></script>
  <%- include('./filter/script.ejs') %>
</footer>


</html>