<html>

<head>
  <%- include('./../../../partials/head.ejs') %>
  <style type="text/css">
    ::-webkit-scrollbar {
      width: 10px;
    }

    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
      background: #888;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  </style>
</head>

<body>
  <%- include('./../../../partials/header.ejs') %>
  <%- include('./../../../partials/nav.ejs') %>
  <section class="container">
    <div class="box b1">
      <form id="ecommerce-sale-gathering-report-filter-form"
        class="box b1 container ground padding-10 margin-top-10 shadow-hover">
        <div class="box b1 underline center bold">Relatório de Coleta</div>
        <select name="origin" class="box b4 input-generic center margin-top-5 hide-disabled">
          <option value="">Plataforma da venda</option>
          <option value="MLJC">MLJC</option>
          <option value="MLCHRIS">MLCHRIS</option>
          <option value="MLSHEYLA">MLSHEYLA</option>
          <option value="MLANNY">MLANNY</option>
          <option value="SITE">SITE</option>
          <option value="SITE - Total Express">Site Total Express</option>
          <option value="SHOPEE">SHOPEE</option>
          <option value="B2W">B2W</option>
          <option value="Amazon">Amazon</option>
          <option value="Via Varejo">Via Varejo</option>
          <option value="Reclamação">Reclamação</option>
          <option value="MLJC Full">MLJC Full</option>
          <option value="MLCHRIS Full">MLCHRIS Full</option>
          <option value="MLJC Retirada">MLJC Retirada</option>
          <option value="MLCHRIS Retirada">MLCHRIS Retirada</option>
          <option value="MLANNY Retirada">MLANNY Retirada</option>
          <option value="MLSHEYLA Retirada">MLSHEYLA Retirada</option>
          <option value="SITE Retirada">SITE Retirada</option>
          <option value="Reclamação Retirada">Reclamação Retirada</option>
        </select>
        <select name="status" class="box b4 input-generic center margin-top-5 hide-disabled">
          <option value="" selected>Status</option>
          <option value="Ag. Informações">Ag. Informações</option>
          <option value="Ag. Embalo">Ag. Embalo</option>
          <option value="Ag. Coleta">Ag. Coleta</option>
          <option value="Enviado">Enviado</option>
          <option value="Cancelada">Cancelada</option>
        </select>
        <input type="datetime-local" name="periodStart" class="box b4 input-generic center margin-top-5"
          autocomplete="off">
        <input type="datetime-local" name="periodEnd" class="box b4 input-generic center margin-top-5"
          autocomplete="off">
        <select name="user-id" class="box b4 input-generic center margin-top-5" autocomplete="off">
          <option value="">Coletor</option>
          <% for(let i in users){ %>
          <option value="<%= users[i].id %>"><%= users[i].name %></option>
          <% } %>
        </select>
        <input type="submit" name="submit" class="box b4 submit-generic box-hover center margin-top-5 bold"
          value="Filtrar">
      </form>
      <div id="ecommerce-sale-gathering-report-filter-user" class="box b1 container ground padding-10 border"></div>
      <div id="ecommerce-sale-gathering-report-filter-box" class="box b1 ground margin-top-10" style="display:none">
        <div id="ecommerce-sale-gathering-report-filter-div" class="box b1 container"></div>
        <%- include('./../../../partials/carousel.ejs') %>
      </div>
    </div>
  </section>
  <%- include('./../../../partials/loader.ejs') %>
</body>
<footer>
  <%- include('./../../../partials/footer.ejs') %>
  <%- include('./../partial.ejs') %>

  <script src="/javascripts/scripts/ecommerce/sale/model/report/gathering.js"></script>
  <script src="/javascripts/scripts/ecommerce/sale/controller/report/gathering.js"></script>
  <script src="/javascripts/scripts/ecommerce/sale/view/report/gathering.js"></script>

  <script>
    document.getElementById("ecommerce-sale-gathering-report-filter-form").elements.namedItem("periodStart").value = lib.timestampToDatetime(lib.genTimestamp());
    document.getElementById("ecommerce-sale-gathering-report-filter-form").elements.namedItem("periodEnd").value = lib.timestampToDatetime(lib.genTimestamp());
  </script>
</footer>

</html>