<html>
<head>
  <%- include('./../../partials/head.ejs') %>
</head>
<body>
  <%- include('./../../partials/header.ejs') %>
  <%- include('./../../partials/nav.ejs') %>
  <section class="container h-center">
    <%- include('./components/financial-filter-form.ejs') %>
  </section>

  <section id="sale-metrics-box" class="container margin-top-10"></section>
  
  <section class="container margin-top-10">
    <%- include('./components/financial-filter-box.ejs') %>
    <div id="sale-show-box" class="box b1 container ground border radius-5 margin-top-10 margin-bottom-15" style="display:none;"></div>
  </section>
  <%- include('./../../partials/loader.ejs') %>
</body>
<footer>
  <%- include('./../../partials/footer.ejs') %>
  <script src="/javascripts/scripts/sale/model/main.js"></script>
  
  <script src="/javascripts/scripts/sale/model/metrics/financial.js"></script>
  <script src="/javascripts/scripts/sale/controller/metrics/financial.js"></script>
  <script src="/javascripts/scripts/sale/view/metrics/financial.js"></script>

  <script>
    lib.fillDateInput(document.getElementById("sale-filter-form").elements.namedItem('periodStart'));
    lib.fillDateInput(document.getElementById("sale-filter-form").elements.namedItem('periodEnd'));
  </script>
</footer>
</html>