<html>

<head>
  <%- include('./../../partials/head.ejs') %>
  <style type="text/css">
    @media print {

      .noprint,
      .noprint * {
        display: none !important;
      }

      .pagebreak {
        page-break-before: auto;
      }

      .container {
        page-break-inside: avoid;
      }

      .p-box {
        box-sizing: border-box;
        align-self: flex-start;
      }
    }
  </style>
</head>

<body>
  <div class="container padding-10 noprint">
    <div class="p-box a5 lucida-grande bold border-lg-st padding-5 center pointer noselect" onclick="print()">IMPRIMIR
    </div>
  </div>

  <% for(let i = 1; i <= production.preparation_volume; i++) { %>
  <div class="container border-st pagebreak">
    <div class="p-box a1 container border">
      <div class="p-box a2 container lucida-grande">
        <div class="p-box a2-3 container lucida-grande padding-5">
          <div class="p-box a1 lucida-grande padding-5 bold">Produção: #<%= production.id %> </div>
          <div class="p-box a1 lucida-grande padding-5"><%= production.seamstress_name %></div>
          <div class="p-box a1 lucida-grande padding-5">Local de produção: <%= production.location %></div>
          <div class="p-box a4 lucida-grande padding-5">Lacre:</div>
          <div class="p-box a3-4 lucida-grande underline padding-5 margin-top-15"></div>
        </div>
        <div class="p-box a3 container lucida-grande padding-10 border height-100 center">
          <div class="p-box a3-7 lucida-grande em30 bold center"><%= i %></div>
          <div class="p-box a7 lucida-grande em30 bold center">/</div>
          <div class="p-box a3-7 lucida-grande em30 bold center"><%= production.preparation_volume %></div>
        </div>
      </div>
      <div class="p-box a2 container border lucida-grande">
        <div class="p-box a1 container border">
          <div class="p-box a2 lucida-grande em08 padding-left-5 padding-5">Descrição do produto</div>
          <div class="p-box a4 lucida-grande em08 border padding-5 center">Quantidade</div>
          <div class="p-box a4 lucida-grande em08 border padding-5 center">Entregue</div>
        </div>

        <% for(let i in production.products) { %>
        <div class="p-box a1 container border">
          <div class="p-box a2 lucida-grande em08 padding-5"><%= production.products[i].code %>
            | <%= production.products[i].name %> |
            <%= production.products[i].color %> | <%= production.products[i].size %>
          </div>

          <div class="p-box a4 lucida-grande em09 center">
            <%= `${production.products[i].amount}un` %>
          </div>

          <div class="p-box a4"></div>
        </div>
        <% } %>

        <div class="p-box a1 container border">
          <div class="p-box a4 lucida-grande padding-5 center">Assinatura:</div>
          <div class="p-box a3-4 lucida-grande underline margin-top-25"></div>
        </div>
      </div>
    </div>
  </div>
  <% } %>

</body>
<footer>
  <%- include('./../../partials/footer.ejs') %>
</footer>

</html>