<html>
<head>
  <%- include('./../../partials/head.ejs') %>
</head>
<body>
  <%- include('./../../partials/header.ejs') %>
  <%- include('./../../partials/nav.ejs') %>
  <section class="container">
    <div class="box b2 ground padding-10">
      <div class="box b1 underline center">Relatórios vendas Comercial</div>
      <button class="box b1 submit-generic margin-top-5 pointer center" onclick="window.location.href='/sale/metrics/financial'">Faturamento</button>
      <button class="box b1 submit-generic margin-top-5 pointer center" onclick="window.location.href='/sale/report/product'">Relátório de Produtos</button>
      <button class="box b1 submit-generic margin-top-5 pointer center" onclick="window.location.href='/sale/report/packment'">Relátório de Embalo</button>
      <button class="box b1 submit-generic margin-top-5 pointer center" onclick="window.location.href='/sale/report/customer'">Atividade de clientes</button>
    </div>
  </section>
  <%- include('./../../partials/loader.ejs') %>
</body>
<footer>
  <%- include('./../../partials/footer.ejs') %>
  <%- include('./../partial.ejs') %>
</footer>
</html>