<html>

<head>
  <%- include('./../../partials/head.ejs') %>
</head>

<body>
  <%- include('./../../partials/header.ejs') %>
  <%- include('./../../partials/nav.ejs') %>
  <section class="container h-center">
    <%- include('./task/box.ejs') %>

    <%- include('./customer/filter/form.ejs') %>
    <%- include('./customer/filter/box.ejs') %>
  </section>
</body>
<footer>
  <%- include('./../../partials/footer.ejs') %>
  <script src="/js/sale/main.js"></script>
  <script src="/js/customer/timeline.js"></script>
  <%- include('./customer/filter/script.ejs') %>
  <%- include('./task/script.ejs') %>
</footer>

</html>