<html>

<head>
  <%- include('./../../partials/head.ejs') %>
</head>

<body>
  <%- include('./../../partials/header.ejs') %>
  <%- include('./../../partials/nav.ejs') %>
  <section class="container">
    <div class="box a2 container">
      <%- include('./create/form.ejs') %>
    </div>
    <div class="box a2 container">
      <%- include('./filter/form.ejs') %>
    </div>
  </section>
</body>
<footer>
  <%- include('./../../partials/footer.ejs') %>
  <script src="/js/feedstock/main.js"></script>
  <script src="/js/feedstock/supplier/storage.js"></script>
  <%- include('./create/script.ejs') %>
  <%- include('./filter/script.ejs') %>
  <%- include('./detail/script.ejs') %>
</footer>

</html>