<html>
<head>
  <%- include('./../../partials/head.ejs') %>
</head>
<body>
  <%- include('./../../partials/header.ejs') %>
  <%- include('./../../partials/nav.ejs') %>
  <section class="container">
    <div class="box b6 container ground border margin-top-10 padding-5 radius-5">
      <div class="mobile-box b4-5 em12 lucida-grande bold center">Novo Lead</div>
      <div class="mobile-box b5 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('prospect-create-form', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>
      <%- include('./partials/prospect-create-form.ejs') %>
    </div>
    
    <div class="box b5-6 container ground border margin-top-10 padding-5 radius-5">
      <div class="mobile-box b11-12 em12 lucida-grande bold center">Fluxo de Cadência</div>
      <div class="mobile-box b12 container center"><img src="/images/icon/down-arrow.png" class="noselect size-25 center icon transition-02-02 pointer" onclick="lib.displayDiv('prospect-filter-form', this, '/images/icon/down-arrow.png', '/images/icon/up-arrow.png')"></div>
      <%- include('./partials/prospect-filter-form.ejs') %>
      <div id="prospect-filter-box" class="box a1 container" style="display:none">
        <div id="prospect-filter-div" class="box a1 container"></div>
      </div>
    </div>
  </section>
  <%- include('./../../partials/loader.ejs') %>
</body>
<footer>
  <%- include('./../../partials/footer.ejs') %>
  <%- include('./partial.ejs') %>

  <script type="text/javascript">
    let estados = [
    { codigo_uf: 27, uf: 'AL', unidade_federativa: 'Alagoas' },
    { codigo_uf: 12, uf: 'AC', unidade_federativa: 'Acre' },
    { codigo_uf: 16, uf: 'AP', unidade_federativa: 'Amapá' },
    { codigo_uf: 13, uf: 'AM', unidade_federativa: 'Amazonas' },
    { codigo_uf: 29, uf: 'BA', unidade_federativa: 'Bahia' },
    { codigo_uf: 23, uf: 'CE', unidade_federativa: 'Ceará' },
    { codigo_uf: 53, uf: 'DF', unidade_federativa: 'Distrito Federal' },
    { codigo_uf: 32, uf: 'ES', unidade_federativa: 'Espírito Santo' },
    { codigo_uf: 52, uf: 'GO', unidade_federativa: 'Goías' },
    { codigo_uf: 21, uf: 'MA', unidade_federativa: 'Maranhão' },
    { codigo_uf: 51, uf: 'MT', unidade_federativa: 'Mato Grosso' },
    { codigo_uf: 50, uf: 'MS', unidade_federativa: 'Mato Grosso do Sul' },
    { codigo_uf: 31, uf: 'MG', unidade_federativa: 'Minas Gerais' },
    { codigo_uf: 15, uf: 'PA', unidade_federativa: 'Pará' },
    { codigo_uf: 25, uf: 'PB', unidade_federativa: 'Paraíba' },
    { codigo_uf: 41, uf: 'PR', unidade_federativa: 'Paraná' },
    { codigo_uf: 26, uf: 'PE', unidade_federativa: 'Pernambuco' },
    { codigo_uf: 22, uf: 'PI', unidade_federativa: 'Piauí' },
    { codigo_uf: 33, uf: 'RJ', unidade_federativa: 'Rio de Janeiro' },
    { codigo_uf: 24, uf: 'RN', unidade_federativa: 'Rio Grande do Norte' },
    { codigo_uf: 43, uf: 'RS', unidade_federativa: 'Rio Grande do Sul' },
    { codigo_uf: 11, uf: 'RO', unidade_federativa: 'Rondônia' },
    { codigo_uf: 14, uf: 'RR', unidade_federativa: 'Roraíma' },
    { codigo_uf: 42, uf: 'SC', unidade_federativa: 'Santa Catarina' },
    { codigo_uf: 35, uf: 'SP', unidade_federativa: 'São Paulo' },
    { codigo_uf: 28, uf: 'SE', unidade_federativa: 'Sergipe' },
    { codigo_uf: 17, uf: 'TO', unidade_federativa: 'Tocantins' },
    ];

    estados.forEach(estado => {
      document.getElementById("prospect-create-form").elements.namedItem("state").innerHTML += "<option value='"+estado.uf+"'>"+estado.uf+" | "+estado.unidade_federativa+"</option>";
      document.getElementById("prospect-filter-form").elements.namedItem("state").innerHTML += "<option value='"+estado.uf+"'>"+estado.uf+" | "+estado.unidade_federativa+"</option>";
    });

    document.getElementById("prospect-filter-form").elements.namedItem("period-start").value = lib.genPatternDate();
    document.getElementById("prospect-filter-form").elements.namedItem("period-end").value = lib.genPatternDate();
  </script>
</footer>
</html>