<html>

<head>
  <%- include('./../../../../partials/head.ejs') %>
</head>

<body>
  <%- include('./../../../../partials/header.ejs') %>
  <%- include('./../../../../partials/nav.ejs') %>

  <section class="container h-center">
    <%- include('./order/box.ejs') %>
    <%- include('./supplier/box.ejs') %>
  </section>
</body>
<footer>
  <%- include('./../../../../partials/footer.ejs') %>
  <script src="/js/feedstock/purchase/order.js"></script>
  <script src="/js/feedstock/supplier/main.js"></script>
  <script src="/js/feedstock/supplier/storage.js"></script>
  <%- include('./supplier/script.ejs') %>
  <%- include('./supplier/filter/script.ejs') %>
  <%- include('./order/script.ejs') %>
</footer>

<script>
  (async function () {
    const suppliers = await API.response(FeedstockSupplier.filter, {});
    if (!suppliers) { return false; }

    const supplier_box = document.getElementById("supplier-box");

    for (let i in suppliers) {
      supplier_box.append(await supplierRender(suppliers[i]));
    };

    const orders = await API.response(FeedstockPurchaseOrder.filter, { status: "Ag. pedido" });
    if (!orders) { return false; }

    const order_box = document.getElementById("order-box");
    lib.drag.drop(order_box, (element_id) => { updateOrderSupplier(lib.removeChar(element_id, "order-"), 0); });

    orders.forEach(async order => {
      if (!order.supplier_id) {
        order_box.append(await orderRender(order));
        orderPriceUpdate(order);
      }
    });

    for (let i in suppliers) {
      for (let j in orders) {
        if (suppliers[i].id == orders[j].supplier_id) {
          let supplier_order_box = document.getElementById(`supplier-${suppliers[i].id}-order-box`);
          supplier_order_box.append(await orderRender(orders[j]));
          orderPriceUpdate(orders[j]);
        }
      };
    };

    suppliersUpdate();
  })();
</script>

</html>